h1 {
  text-align: center;
  color: #2B2B2B;
  margin-bottom: 0;
  font-family: 'Lora', sans-serif;
}

h2 {
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

h3 {
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

img {
  max-width: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 100;
  padding: 0;
  border: 0;
}

.navbar {
  text-align: center;
  color: #808080;
  padding: 30px;
}

.navbar a {
  padding: 20px;
}

.navbar b {
  padding: 20px;
  font-weight: normal;
}

.navbar a:hover {
  color: #BA433E;
}

.navbar b:hover {
  color: #BA433E;
}

.active {
  text-decoration: overline;
}

body {
  background-color: #FDF2E5;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

b {
  color:black;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  padding: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float:left;
}

li a {
  display: block;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
